<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<br>
<div class="container">
  <ul class="list-group" style="padding-bottom: 5px">
    <li class="list-group-item">
      <h4>ಹುದ್ದೆ</h4>
      <p style="width: 50%;float: left;"> test</p><p style="width: 50%;float: left;">test2</p>
    </li>
  </ul>

  <ul class="list-group" style="padding-bottom: 5px">
    <li class="list-group-item">
      <h4>ಇಲಾಖೆ</h4>
      <p style="width: 50%;float: left;"> test</p><p style="width: 50%;float: left;">test2</p>
    </li>
  </ul>

  <ul class="list-group" style="padding-bottom: 5px">
    <li class="list-group-item">
      <h4>ಅಧಿಸೂಚನೆ ದಿನಾಂಕ</h4>
      <p style="width: 50%;float: left;"> test</p><p style="width: 50%;float: left;">test2</p>
    </li>
  </ul>

  <ul class="list-group" style="padding-bottom: 5px">
    <li class="list-group-item">
      <h4>ಕೊನೆಯ ದಿನಾಂಕ </h4>
      <p style="width: 50%;float: left;"> test</p><p style="width: 50%;float: left;">test2</p>
    </li>
  </ul>

  <ul class="list-group" style="padding-bottom: 5px">
    <li class="list-group-item">
      <h4>ವಿದ್ಯಾರ್ಹತೆ </h4>
      <p style="width: 50%;float: left;"> test</p><p style="width: 50%;float: left;">test2</p>
    </li>
  </ul>

  <ul class="list-group" style="padding-bottom: 5px">
    <li class="list-group-item">
      <h4>ವಯಸ್ಸಿನ ಮಿತಿ</h4>
      <p style="width: 50%;float: left;"> test</p><p style="width: 50%;float: left;">test2</p>
    </li>
  </ul>

  <ul class="list-group" style="padding-bottom: 5px">
    <li class="list-group-item">
      <h4>ಸಂಬಳ </h4>
      <p style="width: 50%;float: left;"> test</p><p style="width: 50%;float: left;">test2</p>
    </li>
  </ul>


  <ul class="list-group" style="padding-bottom: 5px">
    <li class="list-group-item">
      <h4>ಕೆಲಸದ ಸ್ಥಳ </h4>
      <p style="width: 50%;float: left;"> test</p><p style="width: 50%;float: left;">test2</p>
    </li>
  </ul>


  <ul class="list-group" style="padding-bottom: 5px">
    <li class="list-group-item">
      <h4>ಅರ್ಜಿ ಶುಲ್ಕ </h4>
      <p style="width: 50%;float: left;"> test</p><p style="width: 50%;float: left;">test2</p>
    </li>
  </ul>


  <ul class="list-group" style="padding-bottom: 5px">
    <li class="list-group-item">
      <h4>ಆಯ್ಕೆ ಪ್ರಕ್ರಿಯೆ </h4>
      <p style="width: 50%;float: left;"> test</p><p style="width: 50%;float: left;">test2</p>
    </li>
  </ul>


  <ul class="list-group" style="padding-bottom: 5px">
    <li class="list-group-item">
      <h4>ಅರ್ಜಿ ಸಲ್ಲಿಕೆ </h4>
      <p style="width: 50%;float: left;"> test</p><p style="width: 50%;float: left;">test2</p>
    </li>
  </ul>


</div>
</body>
</html>