<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #fff">
<br>
      {% for obj in qs %}

<div class="container">
      <div style="background-color: #dc3545;min-height: 60px;">
     <h4 style="text-align: center;color: #fff;padding: 15px;">{{obj.Name_TE}}</h4>      
      </div>
  <table class="table">
    <tbody style="color:#606060">
      <tr>
        <td style="color: #000;">శాఖ</td>
        <td>{{obj.Department_TE}}</td>
      </tr>
      <tr>
        <td style="color: #000;">నోటిఫికేషన్ తేదీ</td>
        <td>{{obj.Notification_Date}}</td>
      </tr>
      <tr>
        <td style="color: #000;">చివరి తేదీ </td>
        <td>{{obj.LastDate}}</td>
      </tr>
      <tr>
        <td style="color: #000;">అర్హతలు</td>
        <td>{{obj.Education}}</td>
      </tr>
      <tr>
        <td style="color: #000;">వయో పరిమితి</td>
        <td>{{obj.Age_Limit}}</td>
      </tr>
      <tr>
        <td style="color: #000;">పనిప్రదేశ</td>
        <td>{{obj.Location}}</td>
      </tr>
      <tr>
        <td style="color: #000;">దరఖాస్తు రుసుము</td>
        <td>{{obj.Application_Fees}}</td>
      </tr>
    </tbody>
  </table>
    
<div style="border: 1px solid #c0c0c0;border-radius: 10px;padding: 5px;">
    <p>ఎంపిక ప్రక్రియ:</p>
    <p style="color:#606060;" >{{obj.Selection_Process_TE}}</p>
    <br>
    <p>అప్లికేషన్ సమర్పణ:</p>
    <p style="color:#606060;" >{{obj.How_To_Apply_TE}}</p>
    <br>
</div>
  <br>

  <a href="{{obj.Pdf_link}}" class="btn btn-danger btn-block">నోటిఫికేషన్</a>

  <a href="{{obj.Official_Notification}}" class="btn btn-danger btn-block">అధికారిక నోటిఫికేషన్</a>

  <br>
  <br>
    {% endfor %}

</div>
</body>
</html>